@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Kdam+Thmor+Pro&display=swap');

:root{
    --color-primario: #f2edec;
    --color-second: #303b97;
    --color-thrid: #eb1955;
    --color-forth: #2a6aa1;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Cabin", sans-serif;
background-color: var(--color-primario);
color: var(--color-second);
}

header{
    display: flex;
    padding: 40px;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-forth);

}
header > img {
    width: 50px;
    height: 50px
}

header > nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    background-color: var(--color-forth);
}

header a{
color: var(--color-primario);
background-color: var(--color-forth);
font-weight: 600;
text-decoration: none;
}

.menu_icon {
    display: none;
    width: 30px;
    height: 30px;
}

@media (max-width: 750px) {
    header > nav{
        display: none;
    }

    .menu_icon{
        display: block;
        background-color: var(--color-forth);
    }
    main {
        width: 90%;
        justify-content: center;
        margin: auto;
    }
    h1,h2 {
        text-align: center;
    }
    
    address {
       display: none;
    }

    .contact > p{
        text-align: center;
    }
}
@media (max-width: 950px) {
    .preop_exp{
        flex-wrap: wrap;
    } 
}

@media (min-width: 950px){
    .formulario{
        width: 80%;
        justify-content: center;
        margin: auto;
    }

    .recomendaciones{
        width: 80%;
        justify-content: center;
        margin: auto;
    }
}

main{
    display: flex;
    flex-wrap: wrap;
    }

main > h1{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-top: 150px;
    color: var(--color-thrid);
}

input, textarea, select{
    background-color: white;
}

.preop_exp{
    display: flex;
    padding: 20px;
    justify-content: center;
    margin: auto;
    gap: 40px;

}

.intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    padding: 20px;
    text-align: justify;
}
.consulta_img{
    width: 350px;
}



 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: var(--color-forth);
}

legend {
    color: var(--color-forth);
}
strong, em{
    color: var(--color-thrid);
}

.datper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.datper > fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 10px;
}
.formtitle {
    text-align: center;
}

.datqx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.datqx > fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.antper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.antper > fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.antper > fieldset > ul >li {
    padding: 5px;
    list-style: none;
}

.antqx{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.antqx > fieldset{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 10px;
}
.antqx > fieldset > p {
    width: 100%;
}

.antqx > fieldset > textarea {
    width: 100%;
}

.docpreop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.docpreop > fieldset{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.confirmar {
    padding: 20px;
    margin: auto;
    width: 100%;
    text-align: justify;
    line-height: 2;
}

.confirmar > section > label {
padding: 10px;
text-align: justify;
}

.enviar{
    display: flex;
    justify-content: center;
    width: 100%;
    padding:10px;
    margin-top: 10px;
}

.enviar > input {
    width: 150px;
    height: 50px;
    background-color: var(--color-thrid);
    color: var(--color-primario);
}

.recomendaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: justify;
    border: 2px dotted black;
    border-radius: 10px;
    margin: 50px 10px;
    gap: 40px;
}
.recomend_txt_img{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.recomendaciones li {
padding: 5px;
margin: 0 10px;
}

.recomend_img{
    width: 350px;
}

.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: justify;
    border: 2px dotted black;
    border-radius: 10px;
    margin: 50px 10px;
}

.faq li {
padding: 5px;
margin: 0 10px;
}

aside{
    border: 2px solid red;
    display: flex;
    width: 60%;    
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px auto;
}

aside > a {
    display: flex;
    justify-content: center;
}

.contact {
    border-top: 2px solid var(--color-forth);
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
}





